@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #323232;
    border: none;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

#calculator{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.323);
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 3vh;
}

#calculator h2{
    font-size: 30px;
    position: relative;
}

#calculator h2::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 150px;
    background: var(--linear-gradient);
    bottom: 5px;
    
}

#input_box{
display: flex;
flex-direction: column;
gap: 25px;
}

.input-field{
display: flex;
flex-direction: column;
width: 100%;
}

.input-field label{
font-size: 15px;
color: #4c1d95;
font-weight: 500;
}

.input-field input{
background-color: transparent;
border: none;
border-bottom: 1px solid#4c1d95;
color: #352769;
font-size: 20px;
padding: 5px;
}

.input-field input:focus{
outline: none;
}

#result{
text-align: center;
}

#total{
font-size: 40px;
}

#calculate{
background-color: #4c1d95;
border: none;
padding: 10px;
color: rgb(255, 255, 255);
font-weight: bold;
font-size: 18px;
border-radius: 4px;
cursor: pointer;
}

.button:hover{
    background-color: #7764bb;
    transition: .5s;
    }

body{
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    /* background-position-y: -200px ; */
}
.img{
    text-align: center;
    
    
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #fff;
    --bs-nav-link-hover-color: #e968ee;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #352769;
    color: #fff;
}
